 form {
        display: inline-grid;
    
      } 

     textarea{
      resize : both;
      min-width : 100px;
      min-height : 100px;
      max-width : 200px;
      max-height : 200px;
             }

     
fieldset {
    padding:20px;
    margin-bottom:10px;
         }

legend {
    color:#a0522d;
    font-weight:bold
       }


input {
    border:1px solid black;
      }
      
input[type=radio] {
    margin-right:50px;
    background-color:transparent;
    border:none;
                  }
   
textarea {
    border:1px solid black;
         } 
   
input, textarea, select {
    border:none;
	padding:6px 0 6px 0;
	border-radius:2px;
	box-shadow:3px 3px 12px #999;
	background:#fff;
	font:bold 13px Arial;
	color:#555;
          }   

button {
border:none;
padding:6px 0 6px 0;
border-radius:2px;
box-shadow:3px 3px 12px #999;
background:#fff;
font:bold 13px Arial;
color:#555;
       }   