img {
    max-width:50%;
    max-height: 50%;
}

.container {
    display: block;
    width:100%;
    
}

.container img {
    width:calc(50% / 4);
}

.logo {

    width:100px;
    height:100px;

}

h1 {
    text-align: left;
    margin-left: 115px;
    margin-top: -55px;
}
body {
    text-align: center;
}