img {
    max-width:50%;
    max-height: 50%;
}

.container {
    display: block;
    width:100%;
    
}

.container img {
    width:calc(50% / 4);
}

.logo {

    width:100px;
    height:100px;

}

body {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    -moz-box-shadow: 10px 10px 24px #000000;
    -webkit-box-shadow: 10px 10px 24px #000000;
    box-shadow: 10px 10px 24px #000000; 
    background-color: lightblue; 
}

header, main { 
background-color: white; 
}

h2 {
    margin-block-start: 0px;
    background-color: rgba(149, 157, 158, 0.658);
}

.ancre{
    position: fixed;
}

