img {
    max-width:50%;
    max-height: 50%;
}

.container {
    display: block;
    width:100%;
    
}

.container img {
    width:calc(50% / 4);
}

.logo {

    width:100px;
    height:100px;

}

body {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}
